/***************************************
/*
/* CSS for OpenSky Bootstrap sub-theme
/*
/* author struex at ucar dot edu
/*
***************************************/

/* Add background image to body */
body {
	background: url('../images/bg.jpg') repeat-x #E3E4E6;
	padding-top: 0!important; /* This overrides a naughty rule being inherited from Atmos theme, I think, which was causing the global nav jump bug */
	margin-top: 20px; /* set top margin for body */
}

/*********************

Misc global elements

*********************/

/* Login */

/* Hide login link by matching background color so that non-Drupal users don't see it */
#loginlink a {
	color: #E5E5E5;
}

#loginlink a:hover {
	color: #428BCA;
}

/* Logo */

.logo img {
        /*display: none;*/ /* Don't display logo img on xs screens  */
        max-width: 200px; /* Set logo image size  screens */
}

/* Search */

/* Don't display search box on xs screens */
.block-search form, .block-google-cse form {
	/*display: none;*/
}

/* Page header */

h1.page-header {
	margin-top: 40px;
	font-size: 1.7em;
    /*text-transform: uppercase;*/
}

/* Headings */

h1, h2 {
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
}

/* FAQ Page */

/* node-7 is the FAQ Page on the test server */ /* This selector should be changed to something that won't change, i.e. the node #, depending on installation */

/* FAQ Page Header */
#node-7 h2 {
	color: #910F0F;
}

/* FAQ Page lists */
#node-7 .content ol li, #node-7 .content ul li {
	padding: 0;
	margin: 0;
}

/* Lead Text */

/* Don't display lead text on xs screens */
#page-header .lead, .navbar.container .lead {
	display: none;
}

/*************

Navbar 

*************/

/* nav-wrap is an extra wrapper around navbar-nav to enable centering etc */

.nav-wrap {
	background: #025081;
	height: 30px;
	float: left;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* navbar-header-wrap is an extra wrapper around navbar-header to get it to behave responsively, specific to OpenSky theme implementation */

.navbar-header-wrap {
	max-width: 980px;
	background: #163B69;
	margin-left: auto;
	margin-right: auto;
}

/* Remove bottom margin from navbar */
.navbar {
	margin-bottom: 0;
}

.navbar-nav li {
	padding-left: 10px;
}

/* Adjust navbar container size */
.navbar.container {
	margin-top: 0; /* Set navbar top margin to zero for xs screens */
	max-width: 100%;
	padding-left: 0;
}

.navbar.container > .container {
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}

/* Set navbar background-color  */
.navbar-default {
	background-color: #163B69;
	border: none;
}

/* Set navbar brand font color */
.navbar-default .navbar-brand {
	color: #ffffff;
}

/* Set brand font-size for xs screen  */
.navbar-brand {
	font-size: 1em;
}

/* Adjust navbar-nav margin etc */
.navbar-nav {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.navbar-header {
	/*padding-left: 0;
	padding-right: 0;*/
	padding-top: 7px;
}

.container > .navbar-header {
	margin-left: 0; /* override default Bootstrap negative left margin */
	width: 100%; /* Allow navbar-header to fill width of the screen */
}

/* Remove default padding on navbar-collapse */

.navbar-collapse {
        padding-left: 0;
	padding-right: 0;
}


/* Position etc for IIS nav */

/* Rewrite iis-nav to be generic i.e. use Drupal regions etc */
.iis-nav {
	position: relative;
	top: -45px;
}

.navbar-nav>li>a {
	padding-top: 8px;
	padding-bottom: 3px;
	margin-top: 0;
}

.navbar-default .navbar-nav > li {
	border-right: 2px solid #163B69;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: .9em;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #F8981D;
}

.navbar-default .iis-nav .navbar-nav>li>a {
	color: #FFFFFF;
}

/* Change navabr active link style */
.navbar-default .navbar-nav>.active>a {
	background-color: #0075BF;
	/* color: #F8981D;*/ /* organge color */
	color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: #0075BF;
	color: #F8981D;
}

/*******************************

Tweaks to UCAR orgNav 

*******************************/

#orgNavV1 {
	position: relative;
	top: 0;
}

/* Fix bug in #loaderOrg */

#orgNavV1 #loaderOrg {
	width: 1px!important; /* This is the loaderOrg CSS hack, magically makes orgNav fit on mobile screen */
}

#orgNavV1 div#emergencyOrg, div#peopleOrg, div#contactOrg, orgNavV1 div {
	/*float: left!important;*/
}

#orgNav div ul {
	/*padding-right: 0;*/
}

#orgNavV1 div#peopleOrg ul li, #orgNavV1 div#contactOrg ul li {
	/*padding-left: 0!important;
	padding-right: 0!important;*/
}

/* Temp hide People Org so orgNav fits on xs screens */

div#peopleOrg {
	display: none;
}

/* Changes to orgNav link colors etc for OpenSky */

#orgNavV1 div ul li a {
	color: #FFFFFF!important;
}

#orgNavV1 {
	border-bottom: 1px solid #F8981D!important;
}

/*****************

Containers 

*****************/

/* Override default styling for jumbotron */

.container .jumbotron {
 	max-width: 980px;
 	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF; /* Highlighted Region background color */
	color: #121212; /* Highlighted Region text color */
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
  	border-radius: 0;
}

.highlighted.jumbotron .block-title {
	color: #163B69; /* Highlighted Region Block Title color */
	margin-top: 30px;
}

/* Force all divs contained within jumbortron, e.g. highlighted section, not to exceed 980 width */
.jumbotron div {
	max-width: 980px;
}

.main-container {
	background: #FFFFFF;
	max-width: 980px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
}

.page-header {
	padding-left: 20px;
	padding-right: 20px;
}

.content {
	padding-bottom: 40px;
	min-height: 268px;
	padding: 0 30px 0 30px;
}

.front .content {
	/*padding-left: 20px;*/
	padding-right: 20px;
	padding-left: 0;
	min-height: 0;
}

/* Remove default negative left and right padding on rows */
.row {
	padding-left: 0;
	padding-right: 0;
}

/*******************

Drupal Regions 

*******************/

/* Set margins for highlighted region */
.region-highlighted {
	margin-left: 30px;
	margin-right: 30px;
}

.region-sidebar-second section {
	margin: 30px;
}.region-content {
	/* padding-left: 20px;
	padding-right: 20px;*/
}

.secondary {
	display: none; /* Don't display secondary menu with login/logout link */
}

/*************

Blocks

*************/

/* Share buttons */

#block-block-16 { /* Don't display old Share buttons */
	display: none;
}

/******************

Home page specific 

******************/

.front .page-header {
	display: none; /* Hide Home page header on Front page */
}

.front .region-content {
	padding-left: 30px;
}

/* Hack to remove space between Home page sections */
.front #node-18 {
	display: none;
}

/* Featured Publication Block  */
#block-block-3 {
        background: #EEECE1; /* weird light brownish color */
        max-width: 100%;
	float: none;
}

/* Featured Publication Heading */
#block-block-3 h2 {
        font-size: 20px;
        margin-top: 20px;
        color: #163B69;
}

/* Front Page Main Block */
#block-system-main {
	float: none;
}

.front .region-content {
	padding-left: 0;
}

.front .region-content section {
	padding-left: 30px;
	padding-right: 20px;
}

.front .content {
	padding-top: 20px;
}

/* Islandora specific, i.e. pages with Islandora content */

/* Islandora Search Results */

.page-islandora-search .page-header {
	width: 70%;
	float: right;
	background: #163B69;
        color: #FFFFFF;
        padding: 5px 10px;
	margin-right: 20px;
	margin-top: 30px;
	font-size: 1.3em;
}

dl.solr-fields {
	border-top: none;
}

#block-islandora-solr-basic-facets {
	max-width: 20%;
	float: left;
	margin: 10px;
}

#block-islandora-solr-basic-facets h2 {
	background: #163B69;
	color: #FFFFFF;
	padding: 5px 10px;
	font-size: 1.3em;
}

.islandora-solr-facet li {
	list-style-type: none;
}

.islandora-solr-search-results {
	padding-left: 20px;
	padding-right: 20px;
}

#islandora-solr-top {
	max-width: 75%;
	float: right;
	margin-right: 20px;
}

#secondary-display-profiles {
	list-style-type: none;
	width: 700px;
}

#secondary-display-profiles li {
	float: right;
}

.secondary-display-csv {
	width: 20px;
}

#islandora-solr-result-count {
	margin: 20px;
}

.islandora-solr-content {
	max-width: 75%;
	float: right;
}

.islandora-solr-facet-wrapper h3 {
	font-size: 1em;
}

/* Islandora Bookmarks */

#islandora-bookmark {
	max-width: 40%;
	float: right;
	margin: 0 20px;
}

/* Islandora Display Switch */

.islandora-basic-collection-display-switch {
	margin: 0 20px;
}

.islandora-basic-collection-display-switch ul {
	list-style-type: none;
}

.islandora-basic-collection-display-switch ul li {
	float: left;
}

.islandora-basic-collection-display-switch ul li a::after {
	content: "|";
	padding: 0 7px;
}

/* Islandora Collection Pages */

.page-islandora .navbar-default .navbar-nav > li:nth-child(4) > a {
	background-color: #0075BF;
}

/* .islandora class is on a div which wraps all Islandora content */
.islandora{
	padding-right: 30px;
	padding-left: 30px;
}

.islandora-basic-image-metadata {
        padding-right: 30px;
        padding-left: 30px;
}

.islandora-metadata {
	padding-left: 0;
	padding-right: 0;
}

.islandora-basic-image-content {
	background: none;
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.islandora-object-fields dt {
	background: #163B69;
	color: #FFFFFF;
	height: 100%;
	padding-top: 10px;
	padding-right: 2%;
	margin-bottom: -100px;
	padding-bottom: 110px;
	overflow: hidden;
}

.islandora-object-fields dd {
	padding-top: 10px;
	padding-bottom: 10px;
}

dl.islandora-metadata-fields {
	overflow: hidden;
}

/* Islandora Browse page */

/* Islandora Advanced Search */

.jumbotron div #islandora-solr-advanced-terms {
	width: 90%;
	float: left;
}

.jumbotron div .islandora-solr-advanced-controls {
	width: 10%;
	float: left;
}


/**************

Footer 

**************/

.footer {
	margin-top: 0;
}

#orgFooter p {
	color: #FFFFFF;
	text-align: center;
	font-size: 1.2em;
}

.footer #orgFooter a {
	color: #FFFFFF;
	text-decoration: underline;
}

.footer #orgFooter a:hover {
        color: #FFFFFF;
	text-decoration: underline;
}

.footer.container {
	width: 100%;
	max-width: 980px;
	background: #163569; /* dark royal blue color */
	padding-top: 20px;
}



/******************************************

Media queries for responsive elements 

******************************************/

/* Phone landscape */
@media all and (min-width:500px) {
	
/* Do display logo img 500px and up  */
	.logo img {
        	display: block;
	}

	.navbar-header {
        	padding-left: 20px;
	}
	
	.region-content, .page-header {
		padding-left: 30px;
	}
	
/* Display People Org so orgNav starting with Phone landscape view */
	div#peopleOrg {
		display: block;
	}
	
}

/* Tablet Portrait */

@media all and (min-width:768px) {

/* Misc 768 up */

/* Logo 768 up */

/* Set logo image size for 768px and up */        
	.logo img {
		max-width: 100%;
	}

/* Search 768 up */

/* Show and adjust search form display for 768px and up */	
	.block-search form, .block-google-cse form {
	}

/* Page Header 768 up */

/* Show and adjust display of lead text for 768px and up */
	#page-header .lead, .navbar.container .lead {
		display: block;
		color: #fff;
	}
	
/* Navbar 768px and up */

/* Remove border-radius at 768px and up */
	.navbar {
		border-radius: 0;
	}

	.navbar-nav {
		background: #025081; /* Set navbar-nav bg color */
		width: 980px; /* Set navbar-nav width */
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.navbar-nav li {
        	padding-left: 0;
	}

	.navbar-nav li.first {
		padding-left: 10px;
	}

/* Set container size for 768px and up */
	.navbar.container {
		width: 100%;
		margin-top: 0;
		height: 120px; /* set height for navbar-container */
		padding-right: 0;
	}
	
/* Set navbar-brand font-size for 768px and up */
	.navbar-brand {
		font-size: 2em;
		padding-top: 25px;
	}

/* Set navbar container width for 768 and up */

	.navbar.container > .container {
		max-width: 100%;
		width: 100%;
		margin: auto;
	}

/* Positioning etc for lead tagline in main navbar for 768 and up */
	.navbar.container > .container .lead {
		margin-top: 40px;
		margin-right: 30px;
		color: #ffffff;
        	max-width: 300px;
		float: right;
	}

	.lead img {
		max-width: 300px;
	}	

/* Set properties for navbar-header 768 and up */
	.navbar-header {
		width: 100%;
		max-width: 980px;
		padding-top: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.navbar-nav>li>a {
        	margin-top: 0; 
	}

/* Containers 768 up */

/* Set min-height for content container class at 768 up */
	.content {
        	min-height: 300px;
	}

/* Override default width for container class 768 and up */
	.main-container.container {
        	width: 100%;
	}
		
/* Regions 768px and up */

/* Blocks */

/* Who We Are block 768 up */

	#block-block-13, #block-block-13 .block-title {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
}

/* Home page specific 768 up */
	.front .content {
    		max-width: 800px;
        	margin-left: auto;
	    	margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}

/* Main content 768 up */
	.front .region-content {
		width: 100%;
		padding: 20px 30px;
	}	

/* Override Front Region Content Section padding for 768 and up */
	.front .region-content section {
		padding-left: 0;
		padding-right: 0;
	}

/* Featured Publication Block  */
	#block-block-3 {
		max-width: 30%;
		float: left;
		background: #EEECE1; /* weird light brownish color */
		margin-right: 2%;
		padding: 15px;
	}

/* Featured Publication Heading */
	#block-block-3 h2 {
		font-size: 20px;
		margin-top: 0;
		color: #163B69;
	}

/* Front Page Main Block */

	#block-system-main {
		max-width: 65%;
		float: right;
	}

}

/* Tablet Landscape and Medium Large desktop screens */

/* For screens 980px and up */ /* Reduced to 957px to accomodate responsive navbar */
@media all and (min-width:957px) {

/* Constrain page-header and region-content width */	
	.page-header, .region-content {
		max-width: 980px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}

	.page-header {
		margin-left: 30px;
	}

/* Set container size for 957px and up */
        .navbar.container {
                height: 125px; /* set height for navbar-container */
        }

	.navbar-nav li.first {
                padding-left: 0; /* Remove left padding on this element, which was introduced in 768-up rules above */
        }

/* Set navbar-header width for 957 up */

	.navbar-nav {
		width: 980px;
		max-width: 980px;
	}

/* Positioning etc for lead tagline in main navbar for 957 and up */

	.navbar.container > .container .lead {
		margin-top: 24px;
		float: left; /* hack to control .lead img position */
		margin-left: 100px; /* further hack on .lead img positioning */
	}
	
	.lead img {
                max-width: 524px;
        }
}
